#NmiaKD1xyEIfSvm,
.NmiaKD1xyEIfSvm {
  position: fixed;
  top: 40px;
  right: 10px;
  background: white;
  z-index: 9999;
  width: 500px;
  height: auto;
  text-align: left;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#NmiaKD1xyEIfSvm *,
.NmiaKD1xyEIfSvm * {
  width: auto;
}
#NmiaKD1xyEIfSvm .oQqFT8K65u,
.NmiaKD1xyEIfSvm .oQqFT8K65u {
  width: 25px;
}
#NmiaKD1xyEIfSvm .Kh6FukSexoEQkoS,
.NmiaKD1xyEIfSvm .Kh6FukSexoEQkoS {
  padding-bottom: 10px;
}
#NmiaKD1xyEIfSvm .Kh6FukSexoEQkoS h3,
.NmiaKD1xyEIfSvm .Kh6FukSexoEQkoS h3 {
  padding: 0px;
  margin: 0px;
}
#NmiaKD1xyEIfSvm .Kh6FukSexoEQkoS > div,
.NmiaKD1xyEIfSvm .Kh6FukSexoEQkoS > div {
  margin-bottom: 10px;
}
#NmiaKD1xyEIfSvm .Kh6FukSexoEQkoS *,
.NmiaKD1xyEIfSvm .Kh6FukSexoEQkoS * {
  font-size: 12px;
  font-family: Consolas, 'Courier New', Courier, monospace;
}
#NmiaKD1xyEIfSvm .classDebugTitle,
.NmiaKD1xyEIfSvm .classDebugTitle {
  font-size: 14px;
  font-family: Consolas, 'Courier New', Courier, monospace;
  background: lightgray;
  padding: 5px;
  cursor: pointer;
}
#NmiaKD1xyEIfSvm .classDebugTitle .circle,
.NmiaKD1xyEIfSvm .classDebugTitle .circle {
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  position: relative;
  top: -2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-right: 6px;
}
#NmiaKD1xyEIfSvm .classDebugTitle .circle.offline,
.NmiaKD1xyEIfSvm .classDebugTitle .circle.offline {
  background: #ff5722;
}
#NmiaKD1xyEIfSvm .classDebugTitle .circle.connecting,
.NmiaKD1xyEIfSvm .classDebugTitle .circle.connecting {
  background: #ffeb3b;
}
#NmiaKD1xyEIfSvm .classDebugTitle .circle.online,
.NmiaKD1xyEIfSvm .classDebugTitle .circle.online {
  background: #8bc34a;
}
#NmiaKD1xyEIfSvm .classDebugTitle .rightButton,
.NmiaKD1xyEIfSvm .classDebugTitle .rightButton {
  padding: 2px 10px;
  border: 0px solid black;
  font-family: Consolas;
  float: right;
  cursor: pointer;
  width: auto;
  position: relative;
  top: -2px;
}
#NmiaKD1xyEIfSvm .classDebugTitle .rightButton:disabled,
.NmiaKD1xyEIfSvm .classDebugTitle .rightButton:disabled {
  cursor: default;
  opacity: 0.5;
}
#NmiaKD1xyEIfSvm .classPushData,
.NmiaKD1xyEIfSvm .classPushData {
  margin-bottom: 20px;
}
#NmiaKD1xyEIfSvm .classPushData *,
.NmiaKD1xyEIfSvm .classPushData * {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 11px;
}
#NmiaKD1xyEIfSvm .classPushData .pblock,
.NmiaKD1xyEIfSvm .classPushData .pblock {
  padding: 5px;
}
#NmiaKD1xyEIfSvm .classPushData .pblock div,
.NmiaKD1xyEIfSvm .classPushData .pblock div {
  display: inline-block;
}
#NmiaKD1xyEIfSvm .classPushData .pblock .pdata,
.NmiaKD1xyEIfSvm .classPushData .pblock .pdata {
  width: 80px;
  font-weight: normal;
}
#NmiaKD1xyEIfSvm .classPushData .pblock .pvalue.true,
.NmiaKD1xyEIfSvm .classPushData .pblock .pvalue.true {
  color: green;
}
#NmiaKD1xyEIfSvm .classPushData .pblock .pvalue.false,
.NmiaKD1xyEIfSvm .classPushData .pblock .pvalue.false {
  color: red;
}
#NmiaKD1xyEIfSvm .classPushData .pblock.wide .pdata,
.NmiaKD1xyEIfSvm .classPushData .pblock.wide .pdata {
  width: 100%;
}
#NmiaKD1xyEIfSvm .classPushData .logconnect,
.NmiaKD1xyEIfSvm .classPushData .logconnect {
  height: 200px;
  overflow-y: scroll;
}
#NmiaKD1xyEIfSvm .classPushData .logconnect div,
.NmiaKD1xyEIfSvm .classPushData .logconnect div {
  display: block;
}
#NmiaKD1xyEIfSvm .WJg27qb4wXVMW,
.NmiaKD1xyEIfSvm .WJg27qb4wXVMW {
  height: 20px;
}
