#ATtRj3szCuUW {
  position: absolute;
  z-index: 2147483647;
}
#ATtRj3szCuUW * {
  font-family: sans-serif !important;
}
#ATtRj3szCuUW .gagCY5c8XaJ3iXF4F {
  padding: 20px;
  background-color: #f5f5f5;
}
#ATtRj3szCuUW .gagCY5c8XaJ3iXF4F p {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 10px;
  color: #999;
}
#ATtRj3szCuUW .oJUUIETnh7fxdfvhQ7M {
  background-color: #fff;
  width: 550px;
  padding: 0px;
  border-radius: 2px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#ATtRj3szCuUW .cRj8DbL0Sk {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.5;
}
#ATtRj3szCuUW .cRj8DbL0Sk:hover {
  opacity: 1;
  cursor: pointer;
}
#ATtRj3szCuUW .xWrzhTgcQ8U1Bx {
  float: left;
  padding-right: 20px;
}
#ATtRj3szCuUW .e0iuqzGn8nX0G6 {
  padding: 0px 0px 0px 140px;
  background-repeat: no-repeat;
  background-position: left 20px center;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY {
  border-left: 1px dotted #eee;
  padding: 40px 20px;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY h2 {
  color: #1569b3;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 20px 0;
  padding: 0;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY p {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU {
  display: block;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05) inset;
  color: #1569b3;
  font-size: 20px;
  line-height: 1;
  position: relative;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU .rkOLw892VRRlqnCopy {
  display: block;
  font-size: 14px;
  font-weight: bold;
  background-color: #fd9902;
  border: 1px solid #ec8801;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 14px;
  right: 14px;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU .rkOLw892VRRlqnCopy:hover {
  cursor: pointer;
  background-color: #ec8801;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU .rkOLw892VRRlqnCopy:active {
  cursor: pointer;
  background-color: #ec8801;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU.RaAFMFZzfn4rRXsq {
  display: block;
  padding: 20px;
  background-color: rgba(0, 153, 51, 0.1);
  border: 1px solid rgba(0, 153, 51, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05) inset;
  color: #009933;
  font-size: 20px;
  line-height: 1;
  position: relative;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU.RaAFMFZzfn4rRXsq .rkOLw892VRRlqnCopy {
  display: block;
  font-size: 14px;
  font-weight: bold;
  background-color: #009933;
  border: 1px solid #009933;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 14px;
  right: 14px;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU.RaAFMFZzfn4rRXsq .rkOLw892VRRlqnCopy:hover {
  cursor: pointer;
  background-color: #009933;
}
#ATtRj3szCuUW .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU.RaAFMFZzfn4rRXsq .rkOLw892VRRlqnCopy:active {
  cursor: pointer;
  background-color: #009933;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#ATtRj3szCuUW_cover {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2147483646;
}
