@keyframes R9yL7ufzNM3bVynpth8X_wZnNaDXeTz {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes R9yL7ufzNM3bVynpth8X_PjFNZfNN6lC {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.ba-fade-in {
  animation: R9yL7ufzNM3bVynpth8X_wZnNaDXeTz 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
}
.ba-fade-out {
  animation: R9yL7ufzNM3bVynpth8X_PjFNZfNN6lC 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
}
.R9yL7ufzNM3bVynpth8X {
  display: none;
  overflow: hidden !important;
  position: fixed !important;
  color: white;
  cursor: pointer;
  right: 20px !important;
  height: 100px !important;
  width: 410px !important;
  font-size: 12px !important;
  font-family: Arial, Verdana !important;
  text-align: left !important;
  background: #1569b3 !important;
  z-index: 9999999999 !important;
}
.R9yL7ufzNM3bVynpth8X .kWtYcurAYM7uIgX1szUU {
  position: absolute !important;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  width: 100px !important;
  border: 1px solid #1569b3;
  margin-right: 20px !important;
  background-color: white;
}
.R9yL7ufzNM3bVynpth8X .kWtYcurAYM7uIgX1szUU .oJAuCchonRwqW {
  width: 80%;
  height: 80%;
  margin: 10%;
  background-size: cover;
  background-position: center center;
}
.R9yL7ufzNM3bVynpth8X .kWtYcurAYM7uIgX1szUU .oJAuCchonRwqW.I9muBTTDL1VYgMw6O {
  width: 100%;
  height: 100%;
  margin: 0%;
}
.R9yL7ufzNM3bVynpth8X .kWtYcurAYM7uIgX1szUU .N67WQZpHuDn {
  position: absolute;
  display: inline-block;
  margin: 0px;
  width: 0px;
  height: 0px;
  top: calc((100px/2) - 20px);
  right: -20px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew {
  position: absolute;
  left: 130px;
  text-align: left !important;
  top: 0px;
  bottom: 0px;
  line-height: 18px;
  padding: 10px 30px 10px 5px;
  width: 280px;
  box-sizing: border-box;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .B8EOEZqkPFH {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .PyLbF3Gup80v3y6 {
  color: white;
  font-size: 12px;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .JYYwKnfsnd {
  display: none;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .JYYwKnfsnd ul {
  margin: 0px;
  padding: 5px 0px;
  list-style: none;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .JYYwKnfsnd ul li {
  padding: 5px 1px 5px 1px;
  display: inline-block;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  width: 86px !important;
  font-size: 10px !important;
  text-align: center;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .JYYwKnfsnd ul li input {
  vertical-align: sub;
  margin-right: 5px;
  margin-top: 4px;
  margin-left: 0px;
  font-family: Arial, Verdana;
  font-size: 12px;
  font-weight: 700;
  clear: none !important;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .JYYwKnfsnd ul .baConfirmMute {
  border: 0px;
  border-radius: 3px;
  padding: 6px 15px;
  font-weight: bold;
  color: white;
  background: #458EFD;
  cursor: pointer;
  font-family: Arial, Verdana;
  line-height: 18px;
  height: 30px;
  font-size: 11px;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .yV6ggRKKVG {
  position: absolute;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  width: 31px !important;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .yV6ggRKKVG img {
  display: block;
  position: absolute !important;
  cursor: pointer !important;
  background: rgba(255, 255, 255, 0.05) !important;
  box-sizing: content-box !important;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .yV6ggRKKVG .kVfyh4Ll5wJbFs0qRCM {
  padding: 5px !important;
  width: 22px !important;
  top: 0px !important;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .yV6ggRKKVG .WrSc3PC8wMheNLM {
  padding: 7.25px 6px !important;
  width: 20px !important;
  top: 0px !important;
  display: none;
}
.R9yL7ufzNM3bVynpth8X .MPR7mLB1Pew .yV6ggRKKVG .aD4Df36lzcfsiEdSsL {
  padding: 7.25px 6px !important;
  width: 20px !important;
  bottom: 0px;
}
.R9yL7ufzNM3bVynpth8X > div {
  position: relative !important;
  display: inline-block !important;
  height: 100% !important;
  vertical-align: top !important;
}
.liborder {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
