@-moz-keyframes sBvcAc1cL5IAA {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes sBvcAc1cL5IAA {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sBvcAc1cL5IAA {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* LINK PADRÃO */
#mYe2NBT1inAPZNbU * {
  width: auto;
}
#mYe2NBT1inAPZNbU a {
  text-decoration: underline;
}
#mYe2NBT1inAPZNbU a:link {
  color: #000000;
}
#mYe2NBT1inAPZNbU a:visited {
  color: #000000;
}
#mYe2NBT1inAPZNbU a:active {
  color: #000000;
}
#mYe2NBT1inAPZNbU a:hover {
  color: #555555;
}
#mYe2NBT1inAPZNbU .rkOLw892VRRlqn {
  font-family: "trebuchet ms", sans-serif !important;
  background-color: #fff;
  width: 550px;
  padding: 0px;
  border-radius: 2px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  position: fixed;
  top: 100px;
  z-index: 2147483647;
  left: calc(50% - 275px);
  overflow: hidden;
}
#mYe2NBT1inAPZNbU .cRj8DbL0Sk {
  position: absolute !important;
  width: 14px !important;
  height: 14px !important;
  top: 20px;
  right: 20px;
  opacity: 0.5;
  z-index: 100;
}
#mYe2NBT1inAPZNbU .cRj8DbL0Sk:hover {
  opacity: 1;
  cursor: pointer;
}
#mYe2NBT1inAPZNbU .xWrzhTgcQ8U1Bx {
  float: left;
  padding-right: 20px;
}
#mYe2NBT1inAPZNbU .e0iuqzGn8nX0G6 {
  padding: 0px 0px 0px 140px;
  background-repeat: no-repeat;
  background-position: left 20px center;
}
#mYe2NBT1inAPZNbU .e0iuqzGn8nX0G6 .NZ5Ny5lffhXXtaF {
  text-align: left;
  font-size: 13px;
}
#mYe2NBT1inAPZNbU .e0iuqzGn8nX0G6 .NZ5Ny5lffhXXtaF img {
  height: 20px;
  width: 20px;
  margin-right: 4px;
  vertical-align: initial !important;
  display: inline-block;
}
#mYe2NBT1inAPZNbU .e0iuqzGn8nX0G6 .NZ5Ny5lffhXXtaF span {
  vertical-align: super;
}
#mYe2NBT1inAPZNbU .e0iuqzGn8nX0G6 .NZ5Ny5lffhXXtaF.tU6J4DR3qwFxfY {
  color: #009933;
  font-weight: bold;
}
#mYe2NBT1inAPZNbU .e0iuqzGn8nX0G6 .NZ5Ny5lffhXXtaF.AWhUO8bN9xVRcgtE {
  opacity: 0.5;
  color: #000000;
}
#mYe2NBT1inAPZNbU .e0iuqzGn8nX0G6 .NZ5Ny5lffhXXtaF.oTZdbx3zVyOydmZItN {
  color: #000000;
}
#mYe2NBT1inAPZNbU .e0iuqzGn8nX0G6 .NZ5Ny5lffhXXtaF.oTZdbx3zVyOydmZItN img {
  -webkit-animation-name: sBvcAc1cL5IAA;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY {
  border-left: 1px dotted #eee;
  padding: 40px 20px;
  text-align: left;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY h2,
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY .h2span {
  color: #1569b3;
  text-transform: none !important;
  font-family: "trebuchet ms", sans-serif !important;
  font-weight: 700 !important;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY h2 {
  font-size: 18px !important;
  letter-spacing: normal !important;
  line-height: 1 !important;
  margin: 0 0 20px 0 !important;
  padding: 0 !important;
  text-shadow: none !important;
  text-align: left !important;
  float: none !important;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY h2 span[ba-value] {
  display: inline;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY h2 strong {
  font-size: 30px;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY h2 small {
  color: #1569b3;
  display: block;
  font-family: arial, verdana, sans-serif, helvetica, geneva;
  font-size: 15px;
  font-weight: bold;
  height: auto;
  line-height: 15px;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  text-size-adjust: 100%;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY .rkOLw892VRRlqnInfoExtra {
  padding: 15px 0px;
  font-size: 15px;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY .sxPjR1c6UtS {
  color: #009933;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0px;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY p {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY .PvvFo3HXoEwqvzfLPoJ {
  display: block;
  height: 10px;
  background: #f5f5f5;
  border: 1px solid #eee;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05) inset;
  position: relative;
  margin-bottom: 20px;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY .PvvFo3HXoEwqvzfLPoJ span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU {
  display: block;
  padding: 20px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05) inset;
  color: #1569b3;
  font-size: 20px;
  line-height: 1;
  position: relative;
}
#mYe2NBT1inAPZNbU .feVo1AywZVuLOiNhVY .Ec9cCvNJebFBtVfzppU.RaAFMFZzfn4rRXsq {
  display: block;
  padding: 20px;
  background: rgba(0, 153, 51, 0.1);
  border: 1px solid rgba(0, 153, 51, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05) inset;
  color: #009933;
  font-size: 20px;
  line-height: 1;
  position: relative;
}
#mYe2NBT1inAPZNbU .NMxWgNkSj7X {
  display: block;
  font-size: 20px;
  font-weight: normal;
  background: #009933;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0px 0px;
  max-width: 260px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#mYe2NBT1inAPZNbU .NMxWgNkSj7X:hover {
  background: #11aa44;
  cursor: pointer;
}
#mYe2NBT1inAPZNbU .c9yf2iSYour {
  font-size: 11px;
  font-style: italic;
  color: #999;
  display: block;
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
  max-width: 200px;
}
#mYe2NBT1inAPZNbU .c9yf2iSYour:hover {
  color: #009933;
}
#mYe2NBT1inAPZNbU .I9PRuUWpEd {
  display: block;
  font-size: 13px;
  background: #ffffff;
  color: #ec8801;
  height: 30px;
  line-height: 30px;
  padding: 0px 0px;
  max-width: 185px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#mYe2NBT1inAPZNbU .I9PRuUWpEd:hover {
  background: #fd9902;
  color: #fff;
  cursor: pointer;
}
#mYe2NBT1inAPZNbU .g2VFAosNwx2 {
  max-width: 100%;
  height: auto;
  line-height: 1.2;
  margin-bottom: 20px;
  padding: 20px 20px;
}
#mYe2NBT1inAPZNbU .expYAyXZMDS53V99qa {
  display: inline-block;
  font-size: 13px;
  background: #ffffff;
  border: 1px solid #ec8801;
  color: #ec8801;
  line-height: 1;
  padding: 10px 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#mYe2NBT1inAPZNbU .expYAyXZMDS53V99qa:hover {
  background: #fd9902;
  border: 1px solid #ec8801;
  color: #fff;
  cursor: pointer;
}
#mYe2NBT1inAPZNbU .xBH65jY498Ermf {
  border-color: #3b5998;
  background: #3b5998;
  color: #fff;
}
#mYe2NBT1inAPZNbU .UUTcYlak1TtG9P6DH7I {
  border-color: #1da1f2;
  color: #1da1f2;
}
#mYe2NBT1inAPZNbU .UUTcYlak1TtG9P6DH7I:hover {
  border-color: #1da1f2;
  background: #1da1f2;
  color: #fff;
}
#mYe2NBT1inAPZNbU .gagCY5c8XaJ3iXF4F {
  padding: 20px;
  background: #f5f5f5;
}
#mYe2NBT1inAPZNbU .gagCY5c8XaJ3iXF4F p {
  font-size: 10px;
  color: #999;
}
#mYe2NBT1inAPZNbU .dp6JsdLTJQcvee {
  font-size: 18px;
  color: inherit;
}
#yMQHyTPqxOnB9BajTwB {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2147483646;
  background: rgba(0, 0, 0, 0.7);
}
#zjdmg7V8iGSsQKvE7GuA .feVo1AywZVuLOiNhVY .sxPjR1c6UtS {
  margin-bottom: 0px;
}
#zjdmg7V8iGSsQKvE7GuA .feVo1AywZVuLOiNhVY .sxPjR1c6UtS strong {
  white-space: nowrap;
}
#zjdmg7V8iGSsQKvE7GuA .feVo1AywZVuLOiNhVY .buEzdSsdmwLuot4tvJVP {
  padding: 15px 0px;
  font-size: 15px;
}
#zjdmg7V8iGSsQKvE7GuA .feVo1AywZVuLOiNhVY .uNIJ9sncz3QR {
  padding: 0px 0px 20px 15px;
  font-size: 15px;
}
#zjdmg7V8iGSsQKvE7GuA .feVo1AywZVuLOiNhVY .uNIJ9sncz3QR .vzJ71MNNaaVKcp {
  font-weight: bold;
  color: #4caf50;
}
